.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    // margin-top: 60px;

    @include notebook{
        max-width: 900px;
    }
    @include tablets{
        max-width: 700px;
    }
    @include phones-album{
        max-width: 440px;
    }
    @include phones-new-port{
      max-width: 380px;
    }
    @include phones-port{
        max-width: 290px;
    }
}

.deposit-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deposit-calc__title{
    margin-bottom: 10px;
    border-bottom: transparent;
    font-weight: bold;
    // margin-bottom: -2px;
    // background: aliceblue;
    // z-index: 1;
    // border-radius: 0px;
    // border: 2px solid rgba(101, 175, 4, 0.5);
    // padding: 6px;


    @include phones-album{
        text-align: center;
        max-width: 410px;
        font-size: 24px;
    }
    @include phones-new-port{
        font-size: 18px;
    }
    @include phones-port{
        margin-bottom: -1px;
        font-size: 16px;
    }

}

.deposit-calc__item__title--deadlines{
    font-size: 16px;
    margin-bottom: 4px;
}

.deposit-calc__wrapper {
    background-color: #f0f8ff;
    padding: 30px 40px;
    border: 2px solid hsla(86, 96%, 35%, 0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    // flex-wrap: wrap;
}

.deposit-calc__section{
    display: flex;
    &-one{}
    &-two{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    @include phones-album{
        flex-direction: column;
    }
    @include phones-port{
        
    }
}

.deposit-calc__item__title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    @include phones-new-port{
        font-size: 16px;
    }
}

.deposit__right-col {
    margin-left: 150px;
    
    @include tablets{
        margin-left: 120px;
    }
    @include phones-album{
        margin-left: 0px;
    }
}

.deposit-calc__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.deposit-calc__item-input--deadlines-row {
    display: flex;
    align-items: flex-start;
}

.deposit-calc__input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    &:focus {outline: blue;}
}

.calc-input__deadline--col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-deadline.calc-input__deadline--col{
    &-days{display: none;}
    &-month{display: none;}
}

.calc-input__deadline{

    &--days{
        width: 110px;
    }
    &--month{
        width: 110px;
    }
}

.deposit-calc__select{
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
    
    &--deadlines{
    padding: 10px;
    width: 98px;
    margin-top: 0px;
    margin-left: 4px;
    }
}

.deposit-btn {
    width: 300px;
    height: 64px;
    font-size: 22px;
    line-height: 36px;
    font-weight: 900;
    color: #fff;
    padding: 0px 80px;
    border-radius: 16px;
    background: #65af04;
    border: none;
    cursor: pointer;

}	

.deposit-btn:hover {
		opacity: 0.99;
		box-shadow: 0 4px 6px #9fbd80;
		transition: background-color 0.3s;
}

.deposit-calc__result{
    margin-top: 16px;
    width: 288px;
    
    @include phones-port{
        width: auto;
        padding: 0 34px;
    }
}

.deposit-calc__result__item {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.calc-input--deposit_period{
    margin-top: 6px;
}

.deposit-calc__submit{
    margin-top: 332px;
    // position: absolute;
    // top: 424px;
    // left: 324px;
    @include notebook{
        margin-top: 40px;
    }
    @include tablets{
        // margin-top: 364px;
    }
    @include phones-album{
        margin-top: 40px;
    }
    @include phones-port{
        margin-top: 30px;
    }
}




