.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}

.deposit-calc {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.deposit-calc__wrapper {
    background-color: #f0f8ff;
    padding: 30px ;
    border: 2px solid hsla(86, 96%, 35%, 0.5);
    border-radius: 6px;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
}
.deposit-calc__title{
    margin-bottom: 40px;
}
.deposit-calc__items{
    // display: flex;
}

.deposit-items-left{
    margin-right: 60px;
}

.deposit-calc__item__title{
    font-size: 18px;
    margin-bottom: 8px;
}

.deposit-calc__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.deposit-calc__item-title{
    margin-bottom: 8px;
}


.deposit-calc__item-input {

}

.deposit-calc__input{
    // width: 200px;
    // height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    &:focus {outline: blue;}
}

.deposit-calc__select{
    padding: 10px;
    border-radius: 6px;
}

.deposit-calc__submit{
    margin-top: 40px;
}

.deposit-calc__result{
    margin-top: 16px;
}

.calc-input--deposit_period{
    margin-top: 6px;
}

.deposit-btn {
	width: 320px;
    height: 66px;
    font-size: 22px;
    line-height: 36px;
    font-weight: 900;
    color: #fff;
    padding: 16px 92px;
    border-radius: 16px;
    background: #65af04;
    border: none;
    cursor: pointer;

}	

.deposit-btn:hover {
		opacity: 0.99;
		box-shadow: 0 4px 6px #9fbd80;
		transition: background-color 0.3s;
}

.deposit-calc__result__item {
    margin-top: 6px;
}